{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "preprocess": true,
        "minify": true
      }
    ],
    ["module-resolver", {
      "root": ["./"]
    }]
  ]
}
